body {
    background-image: url(/media/Oriense_World_Map.png);
    color: #030303;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #030303;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #5a2925;
}

.site-header .navbar-nav .nav-link {
color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}


.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
}  

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.row{
    padding-top: 25px;
    justify-content: space-around;
}

.container-left {
    background: rgba(122, 120, 120, 0.582);
}

.container-left h2 {
    color: black;
    display: inline;
}

.container2-left h3 {
    color: black;
}

.container-center{
    background: rgba(122, 120, 120, 0.582);
}

.container-center h2 {
    color: black;
}

.container-center h3 {
    color: black;
}

.container-right{
    background: rgba(122, 120, 120, 0.582);
}

.container-right h2 {
    color: black;
}

.content-section {
    background: rgba(122, 120, 120, 0.582);
}

.media-body h2, p {
    color: black;
    text-shadow: 1px 1px rgb(114, 112, 112);
}

.media-body p {
    color: black;
    text-shadow: 1px 1px rgb(114, 112, 112);
}

.btn {
    color: #5a2925;
    text-shadow: 1px 1px rgb(114, 112, 112);
}

.btn-outline-info {
    border-color: #5a2925!important;
}

.text-muted {
    color: #5a2925!important;
    text-shadow: 1px 1px rgb(114, 112, 112);
}

.form-group a {
    color: #5a2925!important;
    text-shadow: 1px 1px rgb(114, 112, 112);
    text-decoration: none;
    background-color: transparent;
}

.form-group a:hover {
    color: #41211e!important;
    text-shadow: 1px 1px rgb(114, 112, 112);
}

.logout-text {
    color: rgb(206, 198, 185);
    text-shadow: 1px 1px rgb(12, 12, 12);
}

.logout-text2 {
    color: rgb(206, 198, 185);
    text-shadow: 1px 1px rgb(12, 12, 12);
}

.text-muted1 {
    color: black;
    text-shadow: 1px 1px rgb(102, 102, 101);
}

.link1 {
    color: #5a2925;
    text-shadow: 1px 1px rgb(153, 152, 152);
}

.link1:hover {
    color: #41211e;
    text-shadow: 1px 1px rgb(114, 112, 112);
}

.about-container {
    padding-top: 15px;
    padding-left: 325px;
}

.container-about {
    background: rgba(122, 120, 120, 0.582);
}

.container-about p {
    color: rgb(7, 7, 7);
    text-shadow: none;
}