{% extends "users/base.html" %}

{% block content %}
    <div class="container about-container">
        <div class="col-md-4"></div>
        <div class="col-md-12 border border-dark container-about">
            <p><h4>Here at Oubliette we believe that Tabletop RPG's shouldn't leave you buried under stacks of books. Your time is much better spent making progress in your adventure not leafing though hundreds of pages of rule books to find the information you need. We strive to make your game playing experience as pleasent and non cluttered as possible. 
            </h4></p>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}