{% load static %}
<!DOCTYPE html>
<html>
<head>
      <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'oubliette/main.css' %}">
    {% if title %}
        <title>Oubliette - {{ title }}</title>
    {% else %}
        <title>Oubliette</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'profile'%}">Oubliette <h6>Let's start a new Adventure!</h6></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'users:home' %}">Home</a>
                        <a class="nav-item nav-link" href="{% url 'users:about' %}">About</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                            <a class="nav-item nav-link" href="{% url 'profile'%}">Profile</a>
                            <a class="nav-item nav-link" href="{% url 'logout'%}">Logout</a>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'login'%}">Login</a>
                            <a class="nav-item nav-link" href="{% url 'register'%}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
    
            {% block content %}{% endblock %}

    </main>
    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- importing axios and vue -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script>
        Vue.component('information', {
            props: ['info'],
            delimiters: ['[[',']]'],
            data: function() {
                return {
                    id: 1,
                    text: "",
                }
            },
            //this template will tell the spell info how to display in the center screen under the tab of quick reference
            template: `
                <div class="quick-view">
                    <p><b>Name: [[info.spell_name]]</b></p>
                    <p><b>School of magc: [[info.school]]</b></p>
                    <p><b>Level of the spell: [[info.level]]</b></p>
                    <p><b>Casting Time: [[info.casting_time]]</b></p>
                    <p><b>Components: [[info.components]]</b></p>
                    <p><b>Range: [[info.spell_range]]</b></p>
                    <p><b>Target: [[info.target]]</b></p>
                    <p><b>Duration: [[info.duration]]</b></p>
                    <p><b>Saving Throw: [[info.saving_throw]]</b></p>
                    <p><b>Spell Resistence: [[info.spell_resistance]]</b></p>
                    <p><b>Description: [[info.description]]</b></p>
                </div>
            `,
            methods: {
                itemSelected: function() {
                    this.$emit('itemSelected', {id:this.id, text:this.text});
                    this.id++
                },
            }
        });
        Vue.component('races', {
            props: ['race'],
            delimiters: ['[[',']]'],
            data: function() {
                return {
                    id: 1,
                    text: "",
                }
            },
            //this template will tell the spell info how to display in the center screen under the tab of quick reference
            template: `
                <div class="quick-view">
                    <p><b>Race Name: </b> [[race.race_name]]</p>
                    <p><b>General Description: </b> [[race.general_description]]</p>
                    <p><b>Physical Description: </b> [[race.physical_description]]</p>
                    <p><b>Society: </b> [[race.society]]</p>
                    <p><b>Relationships: </b> [[race.relations]]</p>
                    <p><b>Alignment &amp; religion: </b> [[race.alignment_religion]]</p>
                    <p><b>Adventurers: </b>[[race.adventurer]]</p>
                    <p><b>Common Male Names: </b> [[race.male_names]]</p>
                    <p><b>Common Female Name: </b> [[race.female_names]]</p>
                    <p><b>[[race.race_name]] Racial Traits: </b>[[race.racial_traits]]</p>
                    <p><b>Base Speed: </b> [[race.base_speed]]</p>
                    <p><b>Vision: </b> [[race.vision]]</p>
                    <p><b>Special Traits: </b> [[race.special_trait]]</p>
                    <p><b>Weapons: </b> [[race.weapon_familiarity]]</p>
                    <p><b>languages: </b> [[race.languages]]</p>
                </div>
            `,
            methods: {
                raceSelected: function() {
                    this.$emit('raceSelected', {id:this.id, text:this.text});
                    this.id++
                },
            }
        });

        Vue.component('character', {
            props: ['char'],
            delimiters: ['[[',']]'],
            data: function() {
                return {
                    id: 1,
                    text: "",
                }
            },
            //This template will tell the character info from the DB how to display in the far right window
            template: `
                <div class="char-container">
                    <nav>
                        <div class="nav nav-tabs border-dark" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-char-tab" data-toggle="tab" href="#nav-char" role="tab" aria-controls="nav-char" aria-selected="true">Character</a>
                            <a class="nav-item nav-link" id="nav-ability-tab" data-toggle="tab" href="#nav-ability" role="tab" aria-controls="nav-ability" aria-selected="false">Abilities</a>
                            <a class="nav-item nav-link" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-info" aria-selected="false">Info</a>
                            <a class="nav-item nav-link" id="nav-skill-tab" data-toggle="tab" href="#nav-skill" role="tab" aria-controls="nav-skill" aria-selected="false">Skills</a>
                            <a class="nav-item nav-link" id="nav-weapon-tab" data-toggle="tab" href="#nav-weapon" role="tab" aria-controls="nav-weapon" aria-selected="false">Weapons</a>
                            <a class="nav-item nav-link" id="nav-armor-tab" data-toggle="tab" href="#nav-armor" role="tab" aria-controls="nav-armor" aria-selected="false">Armor</a>
                            <a class="nav-item nav-link" id="nav-backpack-tab" data-toggle="tab" href="#nav-backpack" role="tab" aria-controls="nav-backpack" aria-selected="false">Backpack</a>
                            <a class="nav-item nav-link" id="nav-feat-tab" data-toggle="tab" href="#nav-feat" role="tab" aria-controls="nav-feat" aria-selected="false">Feats</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-char" role="tabpanel" aria-labelledby="nav-char-tab">
                            <p><b>Character Name: </b>[[char.character_name]]</p>
                            <p><b>Character Class: </b>[[char.character_class]]</p>
                            <p><b>Character Race: </b>[[char.race]]</p>
                            <p><b>Character Alignment: </b>[[char.Alignment]]</p>
                            <p><b>Character Size: </b>[[char.size]]</p>
                            <p><b>Character Gender: </b>[[char.gender]]</p>
                            <p><b>Character Age: </b>[[char.age]]</p>
                            <p><b>Character Height: </b>[[char.height]]</p>
                            <p><b>Character Hair Color: </b>[[char.hair_color]]</p>
                            <p><b>Character Eye Color: </b>[[char.eye_color]]</p>
                        </div>
                        <div class="tab-pane fade" id="nav-ability" role="tabpanel" aria-labelledby="nav-ability-tab">
                            <p><b>Strength: </b>[[char.strength]]</p>
                            <p><b>Strength Mod: </b>+[[char.strength_mod]]</p>
                            <p><b>Dexterity: </b>[[char.dexterity]]</p>
                            <p><b>Dexterity Mod: </b>+[[char.dexterity_mod]]</p>
                            <p><b>Constitution: </b>[[char.constitution]]</p>
                            <p><b>Strength Mod: </b>+[[char.constitution_mod]]</p>
                            <p><b>Intelligence: </b>[[char.intelligence]]</p>
                            <p><b>Intelligence Mod: </b>+[[char.intelligence_mod]]</p>
                            <p><b>Wisdom: </b>[[char.wisdom]]</p>
                            <p><b>Wisdom Mod: </b>+[[char.wisdom_mod]]</p>
                            <p><b>Charisma: </b>[[char.charisma]]</p>
                            <p><b>Intelligence Mod: </b>+[[char.charisma_mod]]</p>
                        </div>
                        <div class="tab-pane fade" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                            <p><b>Hit Points: </b>[[char.hit_points]]</p>
                            <p><b>Base Speed: </b>[[char.base_speed]]</p>
                            <p><b>Hit Points: </b>[[char.speed_with_armour]]</p>
                            <p><b>Initiative: </b>[[char.initiative]]</p>
                            <p><b>Armor Class: </b>[[char.armor_class]]</p>
                            <p><b>Touch Armor Class: </b>[[char.touch_ac]]</p>
                            <p><b>Flat Footed Aromor Class: </b>[[char.flat_footed_ac]]</p>
                            <p><b>Fortitude: </b>[[char.fortitude]]</p>
                            <p><b>Reflex: </b>[[char.reflex]]</p>
                            <p><b>Will: </b>[[char.will]]</p>
                            <p><b>Base Attack Bonus: </b>+[[char.base_attack_bonus]]</p>
                        </div>
                        <div class="tab-pane fade" id="nav-skill" role="tabpanel" aria-labelledby="nav-skill-tab">
                            <p v-for="item in char.language_info"><b>Language: </b>[[item.language]]</p>
                            <p><b>Dimplomacy: </b>+[[char.diplomacy]]</p>
                            <p><b>Handle Animal: </b>+[[char.handle_animal]]</p>
                            <p><b>Intimidate: </b>+[[char.intimidate]]</p>
                            <p v-for="item in char.knowledge_info"><b>Knowledge: </b>[[item.knowledge]]</p>
                            <p><b>Knowledge Modifier: </b>+[[char.knowledge_mod]]</p>
                            <p><b>Perception: </b>+[[char.perception]]</p>
                            <p><b>Survival: </b>+[[char.survival]]</p>
                        </div>
                        <div class="tab-pane fade" id="nav-weapon" role="tabpanel" aria-labelledby="nav-weapon-tab">
                            <p v-for="item in char.weapon_info"><b>Weapon: </b>[[item.weapon]]</p>
                        </div>
                        <div class="tab-pane fade" id="nav-armor" role="tabpanel" aria-labelledby="nav-armor-tab">
                            <p v-for="item in char.ac_item_info"><b>Armor: </b>[[item.armour_class_item]]</p>
                        </div>
                        <div class="tab-pane fade" id="nav-backpack" role="tabpanel" aria-labelledby="nav-backpack-tab">
                            <p><b>Backpack</b></p>
                            <p v-for="item in char.gear_info"><b></b>[[item.item]]</p>
                            <p><b>Amount that can be Moved</b></p>
                            <p><b>Light Load: </b>[[char.light_load]] lbs</p>
                            <p><b>Medium Load: </b>[[char.medium_load]] lbs</p>
                            <p><b>Heavy Load: </b>[[char.heavy_load]] lbs</p>
                            <p><b>Lift Over Head: </b>[[char.lift_over_head]] lbs</p>
                            <p><b>Lift Off Ground: </b>[[char.lift_off_ground]] lbs</p>
                            <p><b>Drag or Push: </b>[[char.drag_or_push]] lbs</p>
                            <p><b>Money</b></p>
                            <p><b>Gold: </b>[[char.gold]]</p>
                        </div>
                        <div class="tab-pane fade" id="nav-feat" role="tabpanel" aria-labelledby="nav-feat-tab">
                            <p><b>Feats</b></p>
                            <p v-for="item in char.feat_info"><b></b>[[item.feat]]</p>
                        </div>
                    </div> 
                </div>
            `,
            methods: {
                charSelected: function() {
                    this.$emit('charSelected', {id:this.id, text:this.text})
                    this.id++
                },
            }
        }),
        Vue.component('character-form', {
            props: ['char-form'],
            delimiters: ['[[',']]'],
            data: function() {
                return {
                    step: 1,
                    weapons: [],
                    languages: [],
                    crafts: [],
                    knowledges: [],
                    performs: [],
                    professions: [],
                    ac_items: [],
                    items: [],
                    feats: [],
                    special_abilities: [],
                    zero_lvl_spells: [],
                    first_lvl_spells: [],
                    second_lvl_spells: [],
                    third_lvl_spells: [],
                    fourth_lvl_spells: [],
                    fifth_lvl_spells: [],
                    sixth_lvl_spells: [],
                    seventh_lvl_spells: [],
                    eighth_lvl_spells: [],
                    ninth_lvl_spells: [],
                    notes: [],
                    character: {
                        id: '',
                        player_name: '',
                        user_detail: '',
                        character_name: '', 
                        character_class: '',         
                        diety: '', 
                        race: '',
                        homeland: '',
                        size: '',
                        gender: '',
                        age: '',
                        height: '',
                        hair_color: '',
                        eye_color: '',
                        hit_points: '',
                        base_speed: '',
                        speed_with_armour: '',
                        fly_speed: '',
                        swim_speed: '',
                        climb_speed: '',
                        burrow_speed: '',
                        initiative: '',
                        strength: '',
                        strength_mod: '',
                        dexterity: '',
                        dexterity_mod: '',
                        constitution: '',
                        constitution_mod: '',
                        intelligence: '',
                        intelligence_mod: '',
                        wisdom: '',
                        wisdom_mod: '',
                        charisma: '',
                        charisma_mod: '',
                        armor_class: '',
                        touch_ac: '',
                        flat_footed_ac: '',
                        fortitude: '',
                        reflex: '',
                        will: '',
                        base_attack_bonus: '',
                        spell_resistance: '',
                        cmb: '',
                        cmd: '',
                        weapon: '',
                        language: '',
                        acrobatics: '',
                        appraise: '',
                        bluff: '',
                        climb: '',
                        craft: '',
                        diplomacy: '',
                        disable_device: '',
                        disguise: '',
                        escape_artist: '',
                        fly: '',
                        handle_animal: '',
                        heal: '',
                        intimidate: '',
                        knowledge: '',
                        linguistics: '',
                        perception: '',
                        perform: '',
                        profession: '',
                        ride: '',
                        sense_motive: '',
                        sleight_of_hand: '',
                        spellcraft: '',
                        stealth: '',
                        survival: '',
                        swim: '',
                        use_magic_device: '',
                        ac_item: '',
                        item: '',
                        light_load: '',
                        medium_load: '',
                        heavy_load: '',
                        lift_over_head: '',
                        lift_off_ground: '',
                        drag_or_push: '',
                        copper: '',
                        silver: '',
                        gold: '',
                        platinum: '',
                        feat: '',
                        special_ability: '',
                        spells_per_day: '',
                        spells_known: '',
                        domain_or_speciality_magic: '',
                        zero_lvl_spell: '',
                        first_lvl_spell: '',
                        second_lvl_spell: '',
                        third_lvl_spell: '',
                        fourth_lvl_spell: '',
                        fifth_lvl_spell: '',
                        sixth_lvl_spell: '',
                        seventh_lvl_spell: '',
                        eighth_lvl_spell: '',
                        ninth_lvl_spell: '',
                        note: '',
                        xp: '',
                        xp_next_lvl: '',
                        img: '',
                    },
                    weapon: {
                        id: '',
                        weapon: '',
                        weapon_attack_bonus: '',
                        critical: '',
                        weapon_type: '',
                        weapon_range: '',
                        ammunition: '',
                        damage: '',
                    },
                    ac_item: {
                        armour_class_item: '',
                        ac_bonus: '',
                        ac_type: '',
                        ac_checkpenalty: '',
                        ac_spellfailure: '',
                        ac_weight: '',
                        ac_properties: '',
                    },
                    gear: {
                       item: '', 
                       item_wt:'',
                    },
                    feat: {
                       feat: '', 
                    },
                    special_ability: {
                        special_ability: '',
                    },
                    language: {
                        language: '',                       
                    },
                    profession: {
                        profession: '',
                        profession_mod: '',
                    },
                    perform: {
                        perform: '',
                        perform_mod: '',
                    }, 
                    knowledge: {
                        knowledge: '',
                        knowledge_mod: '',
                    },
                    craft: {
                        craft: '',
                        craft_mod: '',
                    },
                    note: {
                        note: '',
                    },
                    zero_lvl_spell: {
                        zero_lvl_spell: '',
                    },
                    first_lvl_spell: {
                        first_lvl_spell: '',
                    },
                    second_lvl_spell: {
                        second_lvl_spell: '',
                    },
                    third_Lvl_Spell: {                        
                        third_lvl_spell: '',
                    },
                    fourth_lvl_spell: {
                        fourth_lvl_spell: '',
                    },
                    fifth_lvl_spell: {
                        fifth_lvl_spell: '',
                    },
                    sixth_Lvl_Spell: {
                        sixth_Lvl_Spell: '',
                    },
                    seventh_lvl_spell: {
                        seventh_lvl_spell: '',
                    },
                    eighth_Lvl_Spell: {
                        eighth_Lvl_Spell: '',
                    },
                    ninth_lvl_spell: {
                        ninth_lvl_spell: '',
                    },
                }
            },
            //this template will tell the form how to display
            template: `
                <div class="character-creation">
                    <form>
                        <div v-if="step === 1">
                            <h2>Character Info</h2>
                            <p>
                                <label for="character_name">Character Name</label>
                                <input class="form-control form-control-sm" type="text" id="character_name" name="character_name" v-model="character.character_name" placeholder="character name">
                            </p>
                            <p>
                                <label for="character_class">Class</label>
                                <input class="form-control form-control-sm" type="text" id="character_class" name="character_class" v-model="character.character_class" placeholder="Class">
                            </p>
                                <label for="diety">Diety</label>
                                <input class="form-control form-control-sm" type="text" id="diety" name="diety" v-model="character.diety" placeholder="Diety">
                            </p>
                            <p>
                                <label for="race">Race</label>
                                <input class="form-control form-control-sm" type="text" id="race" name="race" v-model="character.race" placeholder="race">
                            </p>
                            <p>
                                <label for="homeland">Homeland</label>
                                <input class="form-control form-control-sm" type="text" id="homeland" name="homeland" v-model="character.homeland" placeholder="homeland">
                            </p>
                            <p>
                                <label for="size">Size</label>
                                <input class="form-control form-control-sm" type="text" id="size" name="size" v-model="character.size" placeholder="size">
                            </p>
                            <p>
                                <label for="gender">Gender</label>
                                <input class="form-control form-control-sm" type="text" id="gender" name="gender" v-model="character.gender" placeholder="gender">
                            </p>
                            <p>
                                <label for="age">Age</label>
                                <input class="form-control form-control-sm" type="text" id="age" name="age" v-model="character.age" placeholder="age">
                            </p>
                            <p>
                                <label for="height">Height</label>
                                <input class="form-control form-control-sm" type="text" id="height" name="height" v-model="character.height" placeholder="height">
                            </p>
                            <p>
                                <label for="hair_color">Hair Color</label>
                                <input class="form-control form-control-sm" type="text" id="hair_color" name="hair_color" v-model="character.hair_color" placeholder="hair color">
                            </p>
                            <p>
                                <label for="eye_color">Eye Color</label>
                                <input class="form-control form-control-sm" type="text" id="eye_color" name="eye_color" v-model="character.eye_color" placeholder="eye color">
                            </p>
                            <button class="btn btn-dark" @click.prevent="next()">Next</button>
                        </div>
                        <div v-if="step === 2">
                            <h2>Ability Score</h2>
                            <p>
                                <label for="strength">Strength</label>
                                <input class="form-control form-control-sm" type="number" id="strength" name="strength" v-model="character.strength" placeholder="strength">
                            </p>
                            <p>
                                <label for="strength_mod">Strength Mod</label>
                                <input class="form-control form-control-sm" type="number" id="strength_mod" name="strength_mod" v-model="character.strength_mod" placeholder="strength_mod">
                            </p>
                            <p>
                                <label for="dexterity">Dexterity</label>
                                <input class="form-control form-control-sm" type="number" id="dexterity" name="dexterity" v-model="character.dexterity" placeholder="dexterity">
                            </p>
                            <p>
                                <label for="dexterity_mod">Dexterity Mod</label>
                                <input class="form-control form-control-sm" type="number" id="dexterity_mod" name="dexterity_mod" v-model="character.dexterity_mod" placeholder="dexterity_mod">
                            </p>
                            <p>
                                <label for="constitution">Constitution</label>
                                <input class="form-control form-control-sm" type="number" id="constitution" name="constitution" v-model="character.constitution" placeholder="constitution">
                            </p>
                            <p>
                                <label for="constitution_mod">Constitution Mod</label>
                                <input class="form-control form-control-sm" type="number" id="constitution_mod" name="constitution_mod" v-model="character.constitution_mod" placeholder="constitution_mod">
                            </p>
                            <p>
                                <label for="intelligence">Intelligence</label>
                                <input class="form-control form-control-sm" type="number" id="intelligence" name="intelligence" v-model="character.intelligence" placeholder="intelligence">
                            </p>
                            <p>
                                <label for="intelligence_mod">Intelligence Mod</label>
                                <input class="form-control form-control-sm" type="number" id="intelligence_mod" name="intelligence_mod" v-model="character.intelligence_mod" placeholder="intelligence_mod">
                            </p>
                            <p>
                                <label for="wisdom">Wisdom</label>
                                <input class="form-control form-control-sm" type="number" id="wisdom" name="wisdom" v-model="character.wisdom" placeholder="wisdom">
                            </p>
                            <p>
                                <label for="wisdom_mod">Wisdom Mod</label>
                                <input class="form-control form-control-sm" type="number" id="wisdom_mod" name="wisdom_mod" v-model="character.wisdom_mod" placeholder="wisdom_mod">
                            </p>
                            <p>
                                <label for="charisma">Charisma</label>
                                <input class="form-control form-control-sm" type="number" id="charisma" name="charisma" v-model="character.charisma" placeholder="charisma">
                            </p>
                            <p>
                                <label for="charisma_mod">charisma_mod</label>
                                <input class="form-control form-control-sm" type="number" id="charisma_mod" name="charisma_mod" v-model="character.charisma_mod" placeholder="charisma_mod">
                            </p>
                            <button class="btn btn-dark" @click.prevent="prev()">Previous</button>
                            <button class="btn btn-dark" @click.prevent="next()">Next</button>

                        </div>
                        <div v-if="step === 3">
                            <h2>Base Info</h2>
                            <p>
                                <label for="hit_points">Hit Points</label>
                                <input class="form-control form-control-sm" type="number" id="hit_points" name="hit_points" v-model="character.hit_points" placeholder="hit_points">
                            </p>
                            <p>
                                <label for="initiative">Initiative</label>
                                <input class="form-control form-control-sm" type="number" id="initiative" name="initiative" v-model="character.initiative" placeholder="initiative">
                            </p>
                            <p>
                                <label for="armor_class">Armor Class</label>
                                <input class="form-control form-control-sm" type="number" id="armor_class" name="armor_class" v-model="character.armor_class" placeholder="armor_class">
                            </p>
                            <p>
                                <label for="touch_ac">Touch Ac</label>
                                <input class="form-control form-control-sm" type="number" id="touch_ac" name="touch_ac" v-model="character.touch_ac" placeholder="touch_ac">
                            </p>
                            <p>
                                <label for="flat_footed_ac">Flat Footed Ac</label>
                                <input class="form-control form-control-sm" type="number" id="flat_footed_ac" name="flat_footed_ac" v-model="character.flat_footed_ac" placeholder="flat_footed_ac">
                            </p>
                            <p>
                                <label for="fortitude">Fortitude</label>
                                <input class="form-control form-control-sm" type="number" id="fortitude" name="fortitude" v-model="character.fortitude" placeholder="fortitude">
                            </p>
                            <p>
                                <label for="reflex">Reflex</label>
                                <input class="form-control form-control-sm" type="number" id="reflex" name="reflex" v-model="character.reflex" placeholder="reflex">
                            </p>
                            <p>
                                <label for="will">Will</label>
                                <input class="form-control form-control-sm" type="number" id="will" name="will" v-model="character.will" placeholder="will">
                            </p>
                            <p>
                                <label for="base_attack_bonus">Base Attack Bonus</label>
                                <input class="form-control form-control-sm" type="number" id="base_attack_bonus" name="base_attack_bonus" v-model="character.base_attack_bonus" placeholder="base_attack_bonus">
                            </p>
                            <p>
                                <label for="spell_resistance">Spell Resistance</label>
                                <input class="form-control form-control-sm" type="number" id="spell_resistance" name="spell_resistance" v-model="character.spell_resistance" placeholder="spell_resistance">
                            </p>
                            <p>
                                <label for="cmb">Cmb</label>
                                <input class="form-control form-control-sm" type="number" id="cmb" name="cmb" v-model="character.cmb" placeholder="cmb">
                            </p>
                            <p>
                                <label for="cmd">cmd</label>
                                <input class="form-control form-control-sm" type="number" id="cmd" name="cmd" v-model="character.cmd" placeholder="cmd">
                            </p>
                            <button class="btn btn-dark" @click.prevent="prev()">Previous</button>
                            <button class="btn btn-dark" @click.prevent="next()">Next</button>
                        </div>
                        <div v-if="step === 4">
                            <h2>Speed Info</h2>
                            <p>
                                <label for="base_speed">Base Speed</label>
                                <input class="form-control form-control-sm" type="number" id="base_speed" name="base_speed" v-model="character.base_speed" placeholder="base_speed">
                            </p>
                            <p>
                                <label for="speed_with_armour">Speed With Armour</label>
                                <input class="form-control form-control-sm" type="number" id="speed_with_armour" name="speed_with_armour" v-model="character.speed_with_armour" placeholder="speed_with_armour">
                            </p>
                            <p>
                                <label for="fly_speed">Fly Speed</label>
                                <input class="form-control form-control-sm" type="number" id="fly_speed" name="fly_speed" v-model="character.fly_speed" placeholder="fly_speed">
                            </p>
                            <p>
                                <label for="swim_speed">Swim Speed</label>
                                <input class="form-control form-control-sm" type="number" id="swim_speed" name="swim_speed" v-model="character.swim_speed" placeholder="swim_speed">
                            </p>
                            <p>
                                <label for="climb_speed">Climb Speed</label>
                                <input class="form-control form-control-sm" type="number" id="climb_speed" name="climb_speed" v-model="character.climb_speed" placeholder="climb_speed">
                            </p>
                            <p>
                                <label for="burrow_speed">Burrow Speed</label>
                                <input class="form-control form-control-sm" type="number" id="burrow_speed" name="burrow_speed" v-model="character.burrow_speed" placeholder="burrow_speed">
                            </p>
                            <button class="btn btn-dark" @click.prevent="prev()">Previous</button>
                            <button class="btn btn-dark" @click.prevent="next()">Next</button>
                        </div>
                        <div v-if="step === 5">
                            <h2>Weapon Info</h2>
                            <p>
                                <label for="base_speed">Base Speed</label>
                                <input class="form-control form-control-sm" type="number" id="base_speed" name="base_speed" v-model="character.base_speed" placeholder="base_speed">
                            </p>
                            <button class="btn btn-dark" @click.prevent="createWeapon()">Create Weapon</button>
                            <button class="btn btn-dark" @click.prevent="prev()">Previous</button>
                            <button class="btn btn-dark" @click.prevent="next()">Next</button>
                        </div>
                        <div v-if="step === 6">

                        </div>
                        <div v-if="step === 7">

                        </div>
                        <div v-if="step === 8">

                        </div>
                        <div v-if="step === 9">

                        </div>
                        <div v-if="step === 10">

                        </div>
                        <div v-if="step === 11">

                        </div>
                        <div v-if="step === 12">

                        </div>
                        <div v-if="step === 13">

                        </div>
                        <div v-if="step === 14">

                        </div>
                        <div v-if="step === 15">

                        </div>
                        <div v-if="step === 16">

                        </div>
                        <div v-if="step === 17">

                        </div>
                        <div v-if="step === 18">

                        </div>
                    </form>
                </div>
            `,
            methods: {
                prev: function(event) {
                    this.step--;
                },

                next: function(event) {
                    this.step++;
                },

                createChar: function(event) {
                    axios({
                        method: 'post',
                        baseURL: "http://localhost:8000",
                        url:"/api/character/",
                        data: this.character, 
                    })
                },
                createWeapon: function(event) {
                    this.weapons = [];
                    let key = 'weapon';
                    axios({
                        method: 'post',
                        baseURL: "http://localhost:8000",
                        url:"/api/weapon/",
                        data: this.weapons
                    }).then(res => {
                        this.createChar.weapons.push(res.data.id);
                        this.createWeapon = {key:''}
                    })
                },
                addLanguage: function(event) {
                    this.languages = [];
                    let key = 'language';
                    axios({
                        method: 'post',
                        baseURL: "http://localhost:8000",
                        url:"/api/language/",
                        data: this.languages
                    }).then(res => {
                        this.createChar.languges.push(res.data.id)
                        this.addLanguage = {key: ''}
                    })
                },
                addCraft: function(event) {
                    this.crafts = [];
                    let key = 'craft';
                    axios ({
                        method: 'post',
                        baseURL: "http://localhost:8000",
                        url:"/api/craft/",
                        data: this.crafts
                    }).then(res => {
                        this.createChar.crafts.push(res.data.id)
                        this.addCraft = {key: ''}
                    })
                },
                addKnowledge: function(event) {
                    this.knowledges = [];
                    let key = 'knowledge';
                    axios ({
                        method: 'post',
                        baseURL: "http://localhost:8000",
                        url:"/api/knowledge/",
                        data: this.knowledges
                    }).then(res => {
                        this.createChar.knowledges.push(res.data.id)
                        this.addKnowledge = {key: ''}
                    })
                },
                addPerform: function(event) {
                    this.performs = [];
                    let key = 'perform';
                    axios ({
                        method: 'post',
                        baseURL: "http://localhost:8000",
                        url:"/api/perform/",
                        data: this.crafts
                    }).then(res => {
                        this.createChar.performs.push(res.data.id)
                        this.addPerform = {key: ''}
                    })
                },
                addProfession: function(event) {
                    this.professions = [];
                    let key = 'profession';
                    axios ({
                        method: 'post',
                        baseURL: "http://localhost:8000",
                        url:"/api/profession/",
                        data: this.professions
                    }).then(res => {
                        this.createChar.professions.push(res.data.id)
                        this.addProfession = {key: ''}
                    })
                },
                addAc_item: function(event) {
                    this.ac_items = [];
                    let key = 'armour_class_item';
                    axios ({
                        method: 'post',
                        baseURL: "http://localhost:8000",
                        url:"/api/ac_item/",
                        data: this.ac_items
                    }).then(res => {
                        this.createChar.ac_items.push(res.data.id)
                        this.addAc_item = {key: ''}
                    })
                },
                addItem: function(event) {
                    this.items = [];
                    let key = 'item';
                    axios ({
                        method: 'post',
                        baseURL: "http://localhost:8000",
                        url:"/api/item/",
                        data: this.items
                    }).then(res => {
                        this.createChar.items.push(res.data.id)
                        this.addItem = {key: ''}
                    })
                },
                addFeat: function(event) {
                    this.feats = [];
                    let key = 'feat';
                    axios ({
                        method: 'post',
                        baseURL: "http://localhost:8000",
                        url:"/api/feat/",
                        data: this.feats
                    }).then(res => {
                        this.createChar.crafts.push(res.data.id)
                        this.addCraft = {key: ''}
                    })
                },
                addSpecialAbility: function(event) {
                    this.special_abilities = [];
                    let key = 'special_ability';
                    axios ({
                        method: 'post',
                        baseURL: "http://localhost:8000",
                        url:"/api/special_ability/",
                        data: this.special_abilities
                    }).then(res => {
                        this.createChar.special_abilities.push(res.data.id)
                        this.addSpecialAbility = {key: ''}
                    })
                },
                add0_lvl_spl: function(event) {
                    this.zero_lvl_spells = [];
                    let key = 'zero_lvl_spell';
                    axios ({
                        method: 'post',
                        baseURL: "http://localhost:8000",
                        url:"/api/zero_lvl_spell/",
                        data: this.zero_lvl_spells
                    }).then(res => {
                        this.createChar.zero_lvl_spells.push(res.data.id)
                        this.add0_lvl_spl = {key: ''}
                    })
                },
                add1_lvl_spl: function(event) {
                    this.first_lvl_spells = [];
                    let key = 'first_lvl_spell';
                    axios ({
                        method: 'post',
                        baseURL: "http://localhost:8000",
                        url:"/api/first_lvl_spell/",
                        data: this.first_lvl_spells
                    }).then(res => {
                        this.createChar.first_lvl_spells.push(res.data.id)
                        this.add1_lvl_spl = {key: ''}
                    })
                },
                add2_lvl_spl: function(event) {
                    this.second_lvl_spells = [];
                    let key = 'second_lvl_spell';
                    axios ({
                        method: 'post',
                        baseURL: "http://localhost:8000",
                        url:"/api/second_lvl_spell/",
                        data: this.second_lvl_spells
                    }).then(res => {
                        this.createChar.second_lvl_spells.push(res.data.id)
                        this.add2_lvl_spl = {key: ''}
                    })
                },
                add3_lvl_spl: function(event) {
                    this.third_lvl_spells = [];
                    let key = 'third_lvl_spell';
                    axios ({
                        method: 'post',
                        baseURL: "http://localhost:8000",
                        url:"/api/third_lvl_spell/",
                        data: this.third_lvl_spells
                    }).then(res => {
                        this.createChar.third_lvl_spells.push(res.data.id)
                        this.add3_lvl_spl = {key: ''}
                    })
                },
                add4_lvl_spl: function(event) {
                    this.fourth_lvl_spells = [];
                    let key = 'fourth_lvl_spell';
                    axios ({
                        method: 'post',
                        baseURL: "http://localhost:8000",
                        url:"/api/fourth_lvl_spell/",
                        data: this.fourth_lvl_spells
                    }).then(res => {
                        this.createChar.fourth_lvl_spells.push(res.data.id)
                        this.add4_lvl_spl = {key: ''}
                    })
                },
                add5_lvl_spl: function(event) {
                    this.fifth_lvl_spells = [];
                    let key = 'fifth_lvl_spell';
                    axios ({
                        method: 'post',
                        baseURL: "http://localhost:8000",
                        url:"/api/fifth_lvl_spell/",
                        data: this.fifth_lvl_spells
                    }).then(res => {
                        this.createChar.fifth_lvl_spells.push(res.data.id)
                        this.add5_lvl_spl = {key: ''}
                    })
                },
                add6_lvl_spl: function(event) {
                    this.sixth_lvl_spells = [];
                    let key = 'sixth_lvl_spell';
                    axios ({
                        method: 'post',
                        baseURL: "http://localhost:8000",
                        url:"/api/sixth_lvl_spell/",
                        data: this.sixth_lvl_spells
                    }).then(res => {
                        this.createChar.sixth_lvl_spells.push(res.data.id)
                        this.add6_lvl_spl = {key: ''}
                    })
                },
                add7_lvl_spl: function(event) {
                    this.seventh_lvl_spells = [];
                    let key = 'seventh_lvl_spell';
                    axios ({
                        method: 'post',
                        baseURL: "http://localhost:8000",
                        url:"/api/seventh_lvl_spell/",
                        data: this.seventh_lvl_spells
                    }).then(res => {
                        this.createChar.seventh_lvl_spells.push(res.data.id)
                        this.add7_lvl_spl = {key: ''}
                    })
                },
                add8_lvl_spl: function(event) {
                    this.eighth_lvl_spells = [];
                    let key = 'eighth_lvl_spell';
                    axios ({
                        method: 'post',
                        baseURL: "http://localhost:8000",
                        url:"/api/eighth_lvl_spell/",
                        data: this.eighth_lvl_spells
                    }).then(res => {
                        this.createChar.eighth_lvl_spells.push(res.data.id)
                        this.add8_lvl_spl = {key: ''}
                    })
                },
                add9_lvl_spl: function(event) {
                    this.ninth_lvl_spells = [];
                    let key = 'ninth_lvl_spell';
                    axios ({
                        method: 'post',
                        baseURL: "http://localhost:8000",
                        url:"/api/second_lvl_spell/",
                        data: this.ninth_lvl_spells
                    }).then(res => {
                        this.createChar.ninth_lvl_spells.push(res.data.id)
                        this.add9_lvl_spl = {key: ''}
                    })
                },
            }
        });
        let vm = new Vue ({
            el:"#app1",
            delimiters: ['[[',']]'],
            data: {
                selectedinfo: '',
                selecteditem: '',
                selectedrace: '',
                selectedChar: '', 
                items: [], 
                result: [],
                favorites: [],
                races: [],
                raceResult: [],
                characters: [],
                charResult: [],
            },
            methods: {
                getSpells: function(event) {
                    this.items = [];
                    let key = 'spell_name';
                    // this will retrieve spells from the api
                    axios ({
                        method: "get",
                        baseURL: "http://localhost:8000",
                        url:"/api/spell/",
                    }).then(res=> this.items = res.data.map((item) => {
                        item.label = item[key];
                        console.log(item.spell_name)
                        return item;
                    }));
                    //console.log(items)
                },

                getRaces: function(event) {
                    this.races = [];
                    let key = 'race_name';
                    // this will retrive race info from the api
                    axios ({
                        method: "get",
                        baseURL: "http://localhost:8000",
                        url:"/api/race/",
                    }).then(res=> this.races = res.data.map((race) => {
                        race.label = race[key];
                        console.log(race.race_name)
                        return race;
                    }));
                    // console.log(races)
                },

                getCharacters: function() {
                    this.characters = [];
                    let key = 'character_name'
                    axios ({
                        method: "get",
                        baseURL: "http://localhost:8000",
                        url:"/api/character/",
                    }).then(res=> this.characters = res.data.map((character) =>{
                        character.label = character[key];
                        console.log(character)
                        return character
                    }));
                },

                // this is the dropdown select menu that will populate with the list of spells in alphabetical order
                itemSelected: function() {
                    console.log(this.selecteditem)
                    axios ({
                        method: "get",
                        baseUrl: "http://localhost:8000/",
                        url: "/api/spell/" + this.selecteditem + "/",
                    }).then(res=> {
                        this.result = res.data;
                        this.selectedinfo = "item";
                    })
                    console.log(this.result)
                },
                raceSelected: function() {
                    console.log(this.selectedrace)
                    axios ({
                        method: "get",
                        baseUrl: "http://localhost:8000/",
                        url: "/api/race/" + this.selectedrace + "/",
                    }).then(res=> {
                        this.raceResult = res.data;
                        this.selectedinfo = "race";
                    })
                    console.log(this.raceResult)
                },
                charSelected: function(id) {
                    console.log(this.selectedChar)
                    axios ({
                        method: "get",
                        baseUrl: "http://localhost:8000/",
                        url: "/api/character/" + id + "/",
                    }).then(res=> {
                        this.charResult = res.data;
                        this.selectedChar = "character";
                    })
                }
            },
            mounted: function() {
                this.getCharacters();
            },
        });
    </script>
</body>
</html>