{% load static %}
<!DOCTYPE html>
<html>
<head>
      <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'oubliette/main.css' %}">
    {% if title %}
        <title>Oubliette - {{ title }}</title>
    {% else %}
        <title>Oubliette</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'profile'%}">Oubliette <h6>Let's start a new Adventure!</h6></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'users:home' %}">Home</a>
                        <a class="nav-item nav-link" href="{% url 'users:about' %}">About</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                            <a class="nav-item nav-link" href="{% url 'profile'%}">Profile</a>
                            <a class="nav-item nav-link" href="{% url 'logout'%}">Logout</a>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'login'%}">Login</a>
                            <a class="nav-item nav-link" href="{% url 'register'%}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
    
            {% block content %}{% endblock %}

    </main>
    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- importing axios and vue -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script>
        Vue.component('information', {
            props: ['info'],
            delimiters: ['[[',']]'],
            data: function() {
                return {
                    id: 1,
                    text: "",
                }
            },
            //this template will tell the spell info how to display in the center screen under the tab of quick reference
            template: `
                <div class="quick-view">
                    <p><b>Name: [[info.spell_name]]</b></p>
                    <p><b>School of magc: [[info.school]]</b></p>
                    <p><b>Level of the spell: [[info.level]]</b></p>
                    <p><b>Casting Time: [[info.casting_time]]</b></p>
                    <p><b>Components: [[info.components]]</b></p>
                    <p><b>Range: [[info.spell_range]]</b></p>
                    <p><b>Target: [[info.target]]</b></p>
                    <p><b>Duration: [[info.duration]]</b></p>
                    <p><b>Saving Throw: [[info.saving_throw]]</b></p>
                    <p><b>Spell Resistence: [[info.spell_resistance]]</b></p>
                    <p><b>Description: [[info.description]]</b></p>
                </div>
            `,
            methods: {
                itemSelected: function() {
                    this.$emit('itemSelected', {id:this.id, text:this.text});
                    this.id++
                },
            }
        });
        let vm = new Vue ({
            el:"#app1",
            delimiters: ['[[',']]'],
            data: {
                selected: '',
                items: [], 
                result: [],
                favorites: [],
            },
            methods: {
                getSpells: function(event) {
                    this.items = [];
                    let key = 'spell_name';
                    // this will retrieve spells from the api
                    axios ({
                        method: "get",
                        baseURL: "http://localhost:8000",
                        url:"/api/spell/",
                    }).then(res=> this.items = res.data.map((item) => {
                        item.label = item[key];
                        console.log(item.spell_name)
                        return item;
                    }));
                    //console.log(items)
                },
                
                // this is the dropdown select menu that will populate with the list of spells in alphabetical order
                itemSelected: function() {
                    console.log(this.selected)
                    axios ({
                        method: "get",
                        baseUrl: "http://localhost:8000/",
                        url: "/api/spell/" + this.selected + "/",
                    }).then(res=> this.result = res.data)
                    console.log(this.result)
                }
            }
        });
    </script>
</body>
</html>