{% extends "users/base.html" %}

{% if user.is_authenticated %}
    <h1>Welcome {{ user.username }}!</h1>
    <p><a href="{% url 'logout' %}">Logout</a><p>
{% else %}
    <h1>Welcome, visitor!</h1>
    <p>You are not logged in. <a href="{% url 'login' %}">Login</a> <a href="{% url 'users:signup' %}">Sign Up</a></p>
{% endif %}

{% block content %}
    <div id="app1">
        <div class="row">
            <div class="col-md-4 border border-dark container-left">
                <div class="border-bottom border-dark container2-left">    
                        <img class="rounded-circle account-img" src="{{ user.profile.img.url }}">
                        <h3>{{ user.username }}</h3>
                </div>
                    <h2>What information would you like to see.</h2>
                    <button type="button" class="btn btn-dark" v-on:click="getSpells">Spells</button>
                    <select class="selectpicker" placeholder="spells" v-if="items.length" v-model="selecteditem" @change="itemSelected">
                        <option v-for="item in items" :value="item.id">[[item.spell_name]]</option>
                    </select>
                    <button type="button" class="btn btn-dark" v-on:click="getRaces">Races</button>
                    <select class="selectpicker" placeholder="races" v-if="races.length" v-model="selectedrace" @change="raceSelected">
                        <option v-for="race in races" :value="race.id">[[race.race_name]]</option>
                    </select>
            </div>
            <div class="col-md-4 border border-dark container-center">
                <nav>
                    <div class="nav nav-tabs border-dark" id="myTab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-character-tab" data-toggle="tab" href="#nav-character" role="tab" aria-controls="characters" aria-selected="true">Characters</a>
                        <a class="nav-item nav-link" id="nav-quick-references-tab" data-toggle="tab" href="#nav-quick-references" role="tab"
                        aria-controls="quick-references" aria-selected="false">Quick References</a>
                    </div>
                </nav>
                <div class="tab-content " id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-character" role="tabpanel" aria-labelledby="nav-character-tab">
                            <h3>Characters</h3>
                            <h4></h4>
                            {% comment %} <button type="button" class="btn btn-dark" >Click</button> {% endcomment %}
                        <div class="row">
                            <div class="container1">
                                <div v-if="characters.length"> 
                                    <div v-for="character in characters">
                                        <div class="card text-black border-dark mb-3" id="card" style="max-width: 18rem;">
                                            <img :src="character.img" class="card-img-top img-thumbnail" alt="...">
                                            <div class="card-body">
                                                <h5 class="card-header text-black">[[character.character_name]]</h5>
                                                <p class="card_text text-black">[[character.race]]</p>
                                                <p class="card-text text-black">[[character.character_class]]</p>
                                                <a href="#" @click="charSelected(character.id)" class="btn btn-dark">more info</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-quick-references" role="tabpanel" aria-labelledby="nav-quick-references-tab">
                        <div id="reference-display">
                            <ul>
                                <information
                                    v-if="Object.keys(result).length && selectedinfo === 'item'"
                                    v-bind:info="result"
                                ></information>
                                <races
                                    v-if="Object.keys(raceResult).length && selectedinfo === 'race'"
                                    v-bind:race="raceResult"
                                ></races>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 border border-dark container-right">
                <div id="character-info">
                    <character 
                        v-if="Object.keys(charResult).length"
                        v-bind:char="charResult"
                    ></character>
                </div>
            </div>
        </div>    
    </div>

{% endblock %}