{% extends "users/base.html" %}

{% block content %}
    <div class="container container-logout">
        <div class="col-md-12 border border-dark logout-container">
            <h2 class="logout-text">You have been logged out!<h5 class="logout-text2">Think of all the adventure you are missing while you are away!</h5></h2>
            <div class="border-top border-dark pt-3">
                <small class="text-muted1">Already have an account?<a class="link1"href="{% url 'login' %}">Sign In</a></small>
            </div>
        </div>
    </div>
{% endblock content %}